<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/juice.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>{{ title }}</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>
        This site was created by Juice. It uses data from
        <a class="link" href="https://www.mapbox.com/" target="_blank"
          >mapbox</a
        >
        and
        <a class="link" href="https://weatherstack.com/" target="_blank"
          >weatherstack</a
        >
      </p>

      <img class="portrait" src="./img/me.png" alt="" />
    </div>

    {{>footer}}
  </body>
</html>
